.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}

.cls-1 {
   fill: none;
   stroke: #000000;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 40px;
   scale: 1;
}
.down{
   display: block; position: absolute; width: 50px; height: 90px;
    left:50%; margin-left: -17px; bottom: 15%;
   overflow: hidden;
   border: 1px solid #101010;
   border-radius: 30px;
   box-shadow: 0 0 10px var(--font-color-sub);
   backdrop-filter: blur(2px);
}

#scrolldown{
   animation:ani 1.5s infinite ease;
}
@keyframes ani {
	0% { transform:translateY(-100px); opacity:1; color:#fff;}
	100% { transform:translateY(100px); opacity:1; color:#fff;}
}		
#content{
    position: relative;
    width:100%; margin:0;
    background: url(../images/football-no-lines.png);  /* source from https://transparenttextures.com/ */
    background-color: rgba(0, 0, 0, .95);
    & h2{
    position: absolute; top: -400px;
    width: 100%; text-align: center; font-size: 5rem; color: #fafafa;
    }
    & section{
        & h4{
            font-size: 4rem; 
            padding-top: 50px;
            margin-left: 50px;
            & >span{
                font-size: 5rem;
                line-height: 4.7rem;
                @media screen and (max-width:768px) {
                    font-size: 4rem;
                    line-height: 3rem;
                }
                @media screen and (max-width:640px) {
                    font-size: 4rem;
                    line-height: 3rem;
                }
            }
            @media screen and (max-width:768px) {
                font-size: 3rem;
            }
        }
        & p{
            font-size: 1.5rem;
            margin-left: 50px;
        }
        & .wrapper {
            width: 95%;
            margin: 3rem auto 0 auto;
            & .masonry {
                margin: 0;
                padding: 0;
                column-count: 5;
                column-gap: 10px;
                .item {
                    display: inline-block;
                    margin: 10px 0;
                    width: 100%;
                    border-radius: 20px;
                    transition: all .5s ease-out;
                    & img{
                        border-radius: 20px;
                        width: 100%;
                    }
                }
                & .item:hover{
                    box-shadow: 0 0 10px var(--font-color-sub);
                }
            }
        }
    }
}





.updown img{
    animation: updownshade 1s infinite alternate;
}
@keyframes updownshade {
    0% { transform:translateY(00px); opacity:1;}
    100% { transform:translateY(20px); opacity:1;}
 }
.rt img{
    animation: rotate 10s infinite alternate-reverse linear;
}

@keyframes rotate {
    0% { transform:rotate(0deg); opacity:1;}
    100% { transform:rotate(30deg);; opacity:1;}
 }


@media only screen and (max-width: 1280px) {
    .masonry {
        column-count: 5;
    }
}  

 @media only screen and (max-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}
     
@media only screen and (max-width: 768px) {
    .masonry {
     
        column-count: 3;
    }
}
     
@media only screen and (max-width: 640px) {
    .masonry {
  
        column-count: 2;
    }
}
     
     
     
/* 최소의 사이즈는 320px 고정 */
@media screen and (max-width:480px) {
    .masonry {
  
        column-count: 1;
    }
	.wrapper { min-width:320px; }
}