#content .email_box{width: 600px; 
/* border: 1px solid salmon; */
padding: 30px; 
box-sizing: border-box;}

#content .email_box div{padding: 10px 0;}
#content .email_box .email_NameTel{display: flex; justify-content: space-between;}
#content .email_box .email_NameTel div:nth-of-type(1){width: 30%;}
#content .email_box .email_NameTel div:nth-of-type(2){width: 65%;}

#content .email_box label{font-size: 1.3rem; font-weight: 700; margin-bottom: 15px; display: block;}

#content .email_box input, 
#content .email_box select, 
#content .email_box textarea{
    padding: 15px 5%; 
    width: 90%; 
    font-size: 1.12rem; 
    border: 0;background: #fff;
    color: var(---font-color-sub);
    outline: none;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
    transition: all .4s ease-out;
}
#content .content_area{
    display: flex;
    justify-content: center;
}
#content .email_box input:focus, 
#content .email_box textarea:focus{
    box-shadow: 2px 2px 10px 2px rgba(174, 155, 115, 1);
    transform: scale(1.03);
    
}
#content .email_box input:hover, 
#content .email_box textarea:hover{
    box-shadow: 2px 2px 10px 2px rgba(174, 155, 115, 1);
    transform: scale(1.03);
    
}
#content .email_box textarea{
    height: 200px; 
    font-family:"Noto Sans KR", sans-serif;
    overflow-y: scroll;
    resize: none;
}
#content .email_box textarea::-webkit-scrollbar{
    border-radius: 10px;
   
    width: .5rem;
}
#content .email_box textarea::-webkit-scrollbar-track{
    margin-right: 10px;
}
#content .email_box textarea::-webkit-scrollbar-thumb{
    background-clip: padding-box;
   background-color: rgba(0, 0, 0, .1);
   border-radius: 10px;
   width: .2rem;
}
#content .email_box button{
    padding: 15px 50px; 
    color: #FFF; font-size: 1.2rem;
    font-weight: 400; background: var(--font-color-point2);
    border-radius: 15px; border: 0;
    margin: 30px auto; display: block; cursor: pointer;
    transition: all .3s ease-out;
}
#content .email_box button:hover{
    background: #FFF;
    color: var(--font-color-point2);
    color: var(--font-color-point2);
    font-weight: 600;
    box-shadow: 1px 1px 8px 1px rgba(174, 155, 115, 1);
}

#content .email_info{
    margin-top: 50px;
    
}
#content .email_info p{
    margin: 20px 0;
}
#content .email_info dl{
    margin-bottom: 30px;
}
#content .email_info dt{
    font-size: 1.15rem; font-weight: 600;
    margin-bottom: 15px;
}
#content .email_info dd{line-height: 1.8rem;font-size: 1rem;}
#content .contact_info{
    text-align: center;
    width: 600px;
} 
/* .contact_info */
#content .contact_info dl{
    margin-top: 50px;

}
#content .contact_info dt{
    display: flex; gap: 5px;
    flex-direction: column;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
#content .contact_info strong{
    font-size: 1.4rem;
    font-weight: 700;
}
#content .contact_info dt span{
  font-variation-settings:'wght' 600;
  font-size: 2.9rem;
}

#content .contact_info dd{
    font-weight: 600;    
}
#content .contact_info dl:nth-of-type(2) dd:nth-of-type(3){
    padding-top: 5px;
    font-weight: 400;
}


