#content .content_area{
    width: 1200px; margin: 0 auto;
}
#content .content_area div{
    margin: 150px 0;
}
#content .content_area div h4{
    font-size: 1.88rem;
}
#content .content_area div p:first-of-type{
    text-align: left;
}
#content .content_area div ul li:first-of-type{
    font-size: 1.88rem;
    font-weight: 500;
    padding-bottom: 30px
}
#content .content_area div ul li:first-of-type p{
    font-size: 1.1rem;
}
#content .content_area div ul li:last-of-type{
    text-align: right;
    margin-bottom: 10px;
}
#content .content_area div table{
    border: none;
    border-collapse: collapse;
    width: 1200px;
}
#content .content_area div:first-of-type table tbody tr td:first-of-type{
    font-weight: 500;
    font-size: 1.22rem;
    background: rgba(250, 250, 250, 1);
}

#content .content_area div table th{
    padding: 20px 90px;
    font-size: 1.25rem;
    font-weight: 600;
    background: #f3f3f3;
    /* border: 1px solid #b7b7b7; */
}
#content .content_area div table td{
    /* border: 1px solid #dedede; */
    text-align: center;
    padding: 20px 50px;
}
#content .content_area div table th,
#content .content_area div table td{
    border: 1px solid #ccc;
}
#content .content_area div:nth-of-type(2) table thead tr:nth-of-type(2) th{
    background: rgba(250, 250, 250, 1);
    font-weight: 500;
    font-size: 1.22rem;
}
