#content .content_area{width:100%; margin: 0 auto;}
#content .content_area .sub5_3Top{
    display: flex;
    justify-content: center;
    gap: 100px;
    position: relative;
    align-items: center;
    margin: 130px 0;
}
#content .content_area .sub5_3Top::after{
    content: '';
    width: 50%; height: 590px;
    background: #ececec;
    position: absolute; top: -100px; right: 0;
    z-index: -1;
}
#content .content_area .sub5_3Top img{
    /* position: absolute; 
    top: 150px; right: 50%; margin-right: -640px; */
    display: block;
}
#content .content_area .sub5_3Top ul{
    display: flex;
    gap: 70px;
    flex-direction: column;
    width: 600px;
    text-align: justify;
   
}
#content .content_area .sub5_3Top strong{
    font-size: 1.4rem;
}
#content .content_area .sub5_3Top p{
    font-size: 1.2rem;
}

#content .content_area .sub5_3Bottom{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 200px;
}
#content .content_area .sub5_3Bottom h5{
    font-size: 1.88rem;
    font-weight: 700;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(152, 152, 152, 0.3);
    border-radius: 50px;
    width: 50%;
    position: relative; top: 200px; left: 25%;
    color: #fff;
    backdrop-filter: blur(4px);
    padding: 10px 0;
}
#content .content_area .sub5_3Bottom img{
    border-radius: 200px 200px 0 0;
}
#content .content_area .sub5_3Bottom ul{
    height: 250px;
    padding: 0 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style: disc;
    list-style-position: inside;

}
#content .content_area .sub5_3Bottom div:nth-of-type(odd) ul{
    background: var(--font-color-point1);
}
#content .content_area .sub5_3Bottom div:nth-of-type(even) ul{
    background: var(--font-color-sub);
    
}
#content .content_area .sub5_3Bottom ul{
    
}
#content .content_area .sub5_3Bottom ul li{
    font-size: 1.22rem;
    color: #fff;
}
#content .content_area .sub5_3Bottom ul li::marker{
    font-size: .7rem;
}
#content .content_area .sub5_3Bottom div:nth-of-type(2) ul li{
    padding-left: 50px;
    padding-bottom: 10px;
}
#content .content_area .sub5_3Bottom div:last-child ul{
    width: 598px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;  
    flex-direction: row;  
    align-content: center;
    gap: 30px;

}
#content .content_area .sub5_3Bottom div:last-child ul li{
    width: 40%;
}


